apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - helmrelease.yaml
  - ingressroute-command-center.yaml
  - middleware-strip-api.yaml

  # api-shim (Kustomize-managed)
  - api-shim-configmap.yaml
  - api-shim-rbac.yaml
  - api-shim-deploy.yaml
  - api-shim-service.yaml

  # NetworkPolicy
  - netpol-allow-traefik-to-api-shim.yaml
  - netpol-allow-api-shim-egress-k8s.yaml
