apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: suite
resources:
  - netpol-allow-suite-to-suite-command-center-ui.yaml
  - netpol-allow-traefik-to-suite-command-center-ui-80.yaml
  - helmrelease.yaml
  - ingressroute-command-center.yaml
  - ingressroute-command-center-api.yaml
  - ingressroute-command-center-api-sse.yaml
  - middleware-strip-api.yaml
  - middleware-strip-v1.yaml
  - api-shim-configmap.yaml
  - api-shim-rbac.yaml
  - api-shim-deploy.yaml
  - api-shim-service.yaml
  - netpol-allow-api-shim-egress-k8s.yaml
