apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ingressroute-command-center.yaml
  - mw-command-center-http11.yaml
  - mw-command-center-sse.yaml

# IMPORTANT:
# Helm owns Deployments & Services.
# Kustomize must NOT patch them.
