apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: suite

resources:
  - helmrelease.yaml
  - ingressroute-command-center.yaml
  - middleware-strip-api.yaml
  - middleware-strip-v1.yaml

  - api-shim-configmap.yaml
  - api-shim-rbac.yaml
  - api-shim-deploy.yaml
  - api-shim-service.yaml

  - netpol-allow-traefik-to-api-shim.yaml
  - netpol-allow-api-shim-egress-k8s.yaml
