{{- if .Values.sensorPublisher.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-sensor-publisher-egress-to-mosquitto
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: sensor-publisher
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: carpi
          podSelector:
            matchLabels:
              app: mosquitto
      ports:
        - port: 1883
          protocol: TCP
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-api-egress-to-mosquitto
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: suite-command-center-api
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: carpi
          podSelector:
            matchLabels:
              app: mosquitto
      ports:
        - port: 1883
          protocol: TCP
{{- end }}
