api:
  image:
    repository: registry.suite.home.arpa:5000/suite-command-center-api
    tag: 20260114-1050
    pullPolicy: IfNotPresent
  service:
    port: 80
    targetPort: 8000

ui:
  image:
    repository: registry.suite.home.arpa:5000/suite-command-center-ui
    tag: 20260114-1050
    pullPolicy: IfNotPresent
  service:
    port: 80
    targetPort: 3000

serviceAccount:
  create: true
  name: suite-command-center-api

rbac:
  create: true
