apiVersion: apps/v1
kind: Deployment
metadata:
  name: clm
  namespace: {{ .Release.Namespace }}
  labels:
    app: clm
spec:
  replicas: {{ .Values.ui.replicas }}
  selector:
    matchLabels:
      app: clm
  template:
    metadata:
      labels:
        app: clm
        allow-egress: internet
    spec:
      containers:
        - name: ui
          image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag }}"
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: HOSTNAME
              value: "0.0.0.0"
            - name: PORT
              value: "3000"
{{- if .Values.ui.env }}
{{- range $k, $v := .Values.ui.env }}
            - name: {{ $k | quote }}
              value: {{ $v | quote }}
{{- end }}
{{- end }}
{{- if .Values.ui.envFromSecret }}
          envFrom:
            - secretRef:
                name: {{ .Values.ui.envFromSecret }}
{{- end }}
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
